@import "../../style.scss";

.product-item {
    @include themify($themes) {
        border-radius: 8px;
        overflow: hidden;
        background-color: themed("bg");
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        border: 1px solid transparent;
        height: 100%;
        transition: border 0.3s ease;

        .img {
            width: 100%;
            height: 200px;
            /* Chiều cao cố định để hình ảnh luôn đồng nhất */
            object-fit: contain;
            flex-shrink: 0;
        }

        &:hover {
            border-color: themed("border");
            cursor: pointer;

            .name-product {
                color: #f82e56;
            }

            .btn button {
                color: white;
                background-color: #1677ff;
            }
        }

        .product-content {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 10px;

            .product-content-top {
                flex: 1;
                text-align: center;

                .name-product {
                    font-size: 18px;
                    font-weight: bold;
                    color: themed("textBold");
                    margin: 10px 0;
                    min-height: 50px;
                    /* Đảm bảo phần tên sản phẩm có cùng chiều cao */
                    transition: color 0.3s ease;
                }

                .price-product {
                    color: red;
                    font-size: 16px;
                    font-weight: 700;
                    margin-bottom: 10px;
                }
            }

            .btn {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 10px;

                .list-star {
                    display: flex;
                    align-items: center;
                    color: rgb(235, 235, 37);

                    .star {
                        width: 18px;
                        height: 18px;
                    }
                }

                button {
                    background-color: themed("bg");
                    border: 1px solid themed("border");
                    border-radius: 5px;
                    padding: 4px 8px;
                    transition: all 0.3s ease;
                    color: themed("textColorSoft");

                    &:hover {
                        color: white;
                        background-color: #1677ff;
                    }
                }
            }
        }
    }
}